<ion-content class="color">
  <div style="margin-top:100px" class="ion-text-center ion-padding-top ion-margin-top">
    <img src="../../../assets/images/yelp.png" class="ion-margin-top" height="100px" alt="">
  </div>

  <h1 class="ion-margin-bottom ion-text-center">
    <ion-text color="danger"><b>Social App</b></ion-text>
  </h1>

  <div class="ion-padding marginTop">
    <div class="ion-text-center"></div>
    <ion-button color="danger" routerLink="/login" expand="block" class="button">
      <ion-text color="light">Signup</ion-text>
    </ion-button>
    <div class="ion-margin-top">
      <ion-button color="light" routerLink="/login" expand="block" class="button">
        Login
      </ion-button>
    </div>
  </div>

</ion-content>