<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="bold ion-padding-start">Earlier</h4>
  <ion-item  *ngFor="let notify of notificationList">
    <ion-avatar slot="start">
      <img src="{{notify['profiles']['avatar_url']}}" alt="">
    </ion-avatar>
    <ion-label (click)="navigateToTheActedOnActivity(notify['type_id'],notify['acted_on'],notify['actor_id'])">
      <p *ngIf="notify['type_id'] === 1"> {{notify['profiles']['full_name']}} commented on your post</p>
      <p *ngIf="notify['type_id'] === 4"> {{notify['profiles']['full_name']}} smiled on your post</p>
      <p *ngIf="notify['type_id'] === 5"> {{notify['profiles']['full_name']}} laughed at your post</p>
      <p *ngIf="notify['type_id'] === 6"> {{notify['profiles']['full_name']}} loved your post</p>
      <p *ngIf="notify['type_id'] === 7"> {{notify['profiles']['full_name']}} liked your post</p>
      <p *ngIf="notify['type_id'] === 8"> {{notify['profiles']['full_name']}} disliked your post</p>
      <p *ngIf="notify['type_id'] === 9"> Your post made {{notify['profiles']['full_name']}} sad </p>
      <p *ngIf="notify['type_id'] === 10"> {{notify['profiles']['full_name']}} sent you a friend request </p>
      <p *ngIf="notify['type_id'] === 11"> {{notify['profiles']['full_name']}} accepted you fiendship request </p>

      
      <p>{{notify.created_at | date}}</p>
    </ion-label>
  </ion-item>
</ion-content>