<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none">
    <ion-icon color="danger" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-input type="password" placeholder="Current Password"></ion-input>
    <ion-icon slot="end" name="eye-off">
    </ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-icon color="danger" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-input type="password" placeholder="New Password"></ion-input>
    <ion-icon slot="end" name="eye-off">
    </ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-icon color="danger" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-input type="password" placeholder="Confirm Password"></ion-input>
    <ion-icon slot="end" name="eye-off">
    </ion-icon>
  </ion-item>

  <ion-button class="ion-margin-top" color="danger" expand="block">Update Password</ion-button>

</ion-content>