.searchBar {
    border-radius: 30px !important;
}
.imgContainer {
    padding: 2px;
    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}
.notification1 {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 999;
    left: 15px;
    object-fit: contain;
    top: 21px;
}