.searchBar {
    border-radius: 30px !important;
}
.imgContainer {
    padding: 2px;
    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}
.notification1 {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 999;
    left: 15px;
    object-fit: contain;
    top: 21px;
}

.modal-hight {
    .modal-wrapper {

        top: 100%;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

ion-modal {
    --height: 280px;
    --border-radius: 16px;

    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  