<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>
      My Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings" shape="round">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-fab id="hover-trigger" horizontal="end" vertical="top" slot="end">
      <ion-fab-button size="small" color="danger">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-popover trigger="hover-trigger" triggerAction="hover">
      <ng-template>
        <ion-content>
          <ion-item (click)="OpenGallery()">
            <ion-icon color="danger" slot="start" name="camera"></ion-icon>
            <p class="ion-no-margin">Edit Cover</p>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
    <img class="coverImage"
      src="https://media.istockphoto.com/id/1367290423/sv/foto/camping-under-the-stars.jpg?b=1&s=170667a&w=0&k=20&c=yGxZQuUTQ5evSYCdQAoerthGdCkNjs_1maQYbMdIi58="
      alt="">
    <ion-fab (click)="OpenGallery()" class="cameraIcon">
      <ion-fab-button size="small" color="danger">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-avatar class="avatar">
      <img src="{{profile['avatar_url']}}"
        alt="">
    </ion-avatar>
    <div class="ion-text-center">

      <h5 class="ion-no-margin ion-padding-top bold">
        <ion-text color="danger">{{ profile['full_name'] }}</ion-text>
      </h5>
      <p class="ion-no-margin">{{profile['bio']}}</p>

    </div>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h4 class="ion-no-margin bold">100</h4>
          <p class="ion-no-margin">
            <ion-text color="medium">Posts</ion-text>
          </p>
        </ion-col>

        <ion-col routerLink="/my-friends" size="6">
          <h4 class="ion-no-margin bold">{{friendsCount}}</h4>
          <p class="ion-no-margin">
            <ion-text color="medium">My Friends</ion-text>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h5>My Posts</h5>

    <app-social-post [posts]="allPosts" ></app-social-post>


  </div>

</ion-content>