<ion-header>
  <ion-toolbar>
    <ion-segment color="danger" [(ngModel)]="activeTab">
      <ion-segment-button value="signin">
        <ion-label class="bold">Sign In</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signup">
        <ion-label class="bold">Sign Up</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-top">
    <img src="../../../assets/images/yelp.png" style="height: 80px;" alt="">
    <h2 class="bold ">
      <ion-text color="danger">Social App</ion-text>
    </h2>
  </div>

  <div *ngIf="activeTab==='signin'">
     <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="danger" slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName= "email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" inputmode="email" placeholder="Email address"></ion-input>
        <ion-note color="danger" slot="end" *ngIf="(email.dirty || email.touched) && email.errors">
          Check your email
          </ion-note>
      </ion-item>
    </ion-card>

    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="danger" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName= "password" inputmode="text" type="password" placeholder="Password"></ion-input>
        <ion-note color="danger" slot="end" *ngIf="(email.dirty || email.touched) && email.errors">
          Check your password
          </ion-note>        
          <ion-icon name="eye-off"></ion-icon>
      </ion-item>
    </ion-card>

    <p routerLink="/forgot-password" class="ion-text-center">
      <ion-text color="medium" class="bold">
        Forgot password?
      </ion-text>
    </p>


    <ion-button [disabled]="loginForm.invalid" (click)="login()" expand="block" color="danger">
      <span>Login</span>
    </ion-button>
  </form>

    <p class="ion-text-center">
      <ion-text color="medium" class="bold">
        Sign In With Social Media
      </ion-text>
    </p>
    <div class="ion-text-center">
      <ion-row>
        <ion-col size="4">
          <ion-fab-button color="primary-contrast">
            <img src="../../../assets/images/facebook.png" alt="">
          </ion-fab-button>
        </ion-col>

        <ion-col size="4">
          <ion-fab-button color="primary-contrast">
            <img src="../../../assets/images/Google.png" alt="">
          </ion-fab-button>
        </ion-col>

        <ion-col size="4">
          <ion-fab-button color="primary-contrast">
            <img src="../../../assets/images/phone-call.png" height="35px" alt="">
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="activeTab==='signup'">
    <form (ngSubmit)="signup()" [formGroup]="signupForm">
    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="danger" slot="start" name="person-outline"></ion-icon>
        <ion-input type="text" formControlName="name" placeholder="Full name"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="danger" slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName= "semail" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" inputmode="email" placeholder="Email address"></ion-input>
        <ion-note color="danger" slot="end" *ngIf="(semail.dirty || semail.touched) && semail.errors">
          Check your email
          </ion-note>
      </ion-item>
    </ion-card>

    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="danger" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName= "spassword" inputmode="text" type="password" placeholder="Password"></ion-input>
        <ion-note color="danger" slot="end" *ngIf="(spassword.dirty || spassword.touched) && spassword.errors">
          Check your password
          </ion-note>        
          <ion-icon name="eye-off"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="danger" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName="cpassword" inputmode="text" type="password" placeholder="Password"></ion-input>
        <ion-note color="danger" slot="end" *ngIf="spassword == cpassword">
          Check your password
          </ion-note>        
          <ion-icon name="eye-off"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-button (click)="signup()" expand="block" color="danger">
      <span> Submit</span>
    </ion-button>
  </form>

  </div>


</ion-content>