<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Night Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let post of nightPosts" size="4">
        <img (click)="showPhotoViewer()" src={{post}} alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button routerLink="/submit-post" class="ion-margin" expand="block" color="danger">Next</ion-button>
  </ion-toolbar>
</ion-footer>