<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="searchBar ion-margin-bottom">
    <ion-icon name="search-outline" color="danger" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Search here...."></ion-input>
  </ion-item>

  <ion-item *ngFor="let friend of friendList" lines="none" class="ion-margin-bottom">
    <ion-avatar routerLink="/friend-profile" slot="start">
      <img src={{friend.avatar_url}}>
    </ion-avatar>
    <ion-label (click)="moveToMyfriendsProfile(friend)" >
      <h3 class="bold">{{friend.full_name}}</h3>
      <p>{{friend.bio}}</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="moveToMyfriendsProfile(friend)" color="danger" shape="round">
        <ion-icon color="danger" name="chatbox"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>