<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Jos Buttler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <div class="incomingMsg">
    <p class="messageText rounded">Lorem ipsum is a dummy text.</p>
    <p class="appTxt messageTime">
      <small>10 Oct 2022 - 09:58 AM</small>
    </p>
  </div>

  <div class="outgoingMsg">
    <div class="ion-text-right">
      <p class="messageText rounded"> Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <p class="appTxt messageTime ion-text-right">
      <small>10 Oct 2022 - 10:00 AM</small>
    </p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-input placeholder="Enter message here....">
    </ion-input>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="danger">
        <ion-icon name="send" color="light"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>