<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{friendData['full_name']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  #scrollElement class="ion-padding-top" [scrollEvents]="true">
<div  *ngFor="let message of chat?.messages">
  
  <div *ngIf="message.sender_id !== profile.id" class="incomingMsg">
    <p class="messageText rounded">{{message.content}}</p>
    <p class="appTxt messageTime">
      <small>{{message.timestamp}}</small>
    </p>
  </div>

  <div *ngIf="message.sender_id === profile.id" class="outgoingMsg">
    <div class="ion-text-right">
      <p class="messageText rounded"> {{message.content}}</p>
    </div>
    <p class="appTxt messageTime ion-text-right">
      <small>{{message.timestamp}}</small>
    </p>
  </div>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-input [(ngModel)]="content" placeholder="Enter message here....">
    </ion-input>
    <ion-buttons slot="end">
      <ion-fab-button (click)="sendMessage()" size="small" color="danger">
        <ion-icon name="send" color="light"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>