ion-item {
    border-radius: 10px !important;
    --background: #f1f1f1 !important;
}

ion-avatar {
    height: 60px !important;
    width: 60px !important;
}

.textArea {
    border: 1px solid #ffffff !important;
    --background: #ffffff !important;
}

.post {
    border-radius: 10px;
}